In [8]:
import quandl

In [6]:
import configparser
config = configparser.ConfigParser()
config.read('config.py')
API_Key = config['DEFAULT']['API_KEY']

In [9]:
quandl.ApiConfig.api_key = API_Key

In [10]:
data_df = quandl.get("EIA/PET_RWTC_D")

* Makes a Time Series Call
* Gets the WTI Crude Oil Price with Quandl Code of EIA/PET_RWTC_D <br>
 from the US Department of Energy Dataset

In [11]:
data_df

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2020-11-05  38.56
2020-11-06  36.97
2020-11-09  40.05
2020-11-10  41.18
2020-11-11  41.23

[8809 rows x 1 columns]

In [7]:
import pandas as pd

In [4]:
crude_oil_df = data_df.copy()
#WTI Crude Oil Per Barrel Price

In [ ]:
crude_oil = crude_oil.rename(columns={"Date":"date", "Value":"usd_per_barrel"})
crude_oil = crude_oil.set_index("date")
#because the Table Was set up as:

In [14]:
display_n(crude_oil_df, 1)

            USD_per_Barrel
Date
1986-01-02           25.56
...                    ...
2020-11-03           37.44

[8803 rows x 1 columns]

In [7]:
crude_oil_df

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2020-10-28  37.27
2020-10-29  35.94
2020-10-30  35.64
2020-11-02  36.60
2020-11-03  37.44

[8803 rows x 1 columns]

In [8]:
#henry hubs natural gas data

In [18]:
crude_oil_df.to_csv(r'crude_oil.csv')

In [ ]:
natural_gas_df = quandl.get("CHRIS/CME_NG12")
#Natural Gas (Henry Hub) Physical Futures, Continuous Contract #12 (NG12)

In [ ]:
natural_gas_df

In [14]:
natural_gas_df = natural_gas_df[['Settle']]

In [15]:
natural_gas_df

            Settle
Date
1990-06-19   1.622
1990-06-20   1.590
1990-07-02   1.630
1990-07-03   1.640
1990-07-05   1.640
...            ...
2020-11-03   3.076
2020-11-04   3.068
2020-11-05   3.041
2020-11-06   3.008
2020-11-09   2.991

[7474 rows x 1 columns]

In [17]:
natural_gas_df.to_csv(r'natural_gas.csv')