# Connect to Database

In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

from config import login
# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.

In [2]:
# Connect to DB
db_url = 'postgresql://' + login + '@localhost:5432/commodities_db'
engine = create_engine(db_url)
connection = engine.connect()

# Other Commodities, Read Data and Insert into Database

## Palm Oil

In [7]:
# Citation:
# International Monetary Fund, Global price of Palm Oil [PPOILUSDM], retrieved from FRED, Federal Reserve Bank of St. 
# Louis; https://fred.stlouisfed.org/series/PPOILUSDM, November 9, 2020.
    
# Global Palm Oil Price by Month
# U.S. Price is Dollars per Metric Ton
palmoil = pd.read_csv("../data/PPOILUSDM.csv")
palmoil = palmoil.rename(columns={"DATE": "date", "PPOILUSDM": "usd_per_metric_ton"})
palmoil = palmoil.set_index("date")
palmoil

            usd_per_metric_ton
date
1990-01-01          230.555951
1990-02-01          223.945027
1990-03-01          236.340509
1990-04-01          220.639566
1990-05-01          232.208681
...                        ...
2020-05-01          498.482165
2020-06-01          573.223587
2020-07-01          610.495598
2020-08-01          674.699439
2020-09-01          707.325281

[369 rows x 1 columns]

In [9]:
palmoil.to_sql('palm_oil', engine, if_exists='append')

## Rubber

In [10]:
# Citation:
# International Monetary Fund, Global price of Rubber [PRUBBUSDM], retrieved from FRED, Federal Reserve Bank of St. 
# Louis; https://fred.stlouisfed.org/series/PRUBBUSDM, November 8, 2020.
    
# Global Palm Oil Price by Month
# U.S. Price is Dollars per Metric Ton
rubber = pd.read_csv("../data/rubber_USD_metric_ton.csv")
rubber = rubber.rename(columns={"DATE": "date", "PRUBBUSDM": "usd_per_metric_ton"})
rubber = rubber.set_index("date")
rubber

            usd_per_metric_ton
date
1990-01-01          831.804248
1990-02-01          852.748183
1990-03-01          828.497364
1990-04-01          837.977165
1990-05-01          854.291413
...                        ...
2020-05-01         1353.057397
2020-06-01         1428.274671
2020-07-01         1498.811563
2020-08-01         1762.852399
2020-09-01         1969.002679

[369 rows x 1 columns]

In [11]:
rubber.to_sql('rubber', engine, if_exists='append')